<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/Qasim/eclipse-workspace/QasimJava/src/com/syntax/Class37/TestNGIntro.java">
        <classes>
            <class name="com.syntax.Class37.TestNGIntro">
                <methods>
                    <include name="hello"/>
                    <include name="sayBye"/>
                    <include name="anotherMethod"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>